name: CI

on:
  push:
    branches:
      - branch_g

jobs:
  verify_all_jvm_unit_tests:
    name: Verify All JVM Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout out repo under GitHub's workspace
        uses: actions/checkout@v2

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Run Unit tests
        run: ./gradlew test --stacktrace
      
